.bg {
background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./assets/grocery-cart.jpg');
height: 100vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
